.News {
  height: 720px;
  background-color: #62b7f0;
}
#NewsP {
  font-size: 32px;
  font-weight: 550;
  padding-top: 25px;
  text-align: center;
  padding-bottom: 40px;
}
.news-items {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}
.news_img {
  width: 600px;
  height: 400px;
}
.news-item {
  text-align: center;
  font-size: 24px;
  font-weight: 550;
}
.news_text {
  width: 600px;
  text-align: center;
  position: relative;
  bottom: 5px;
  height: 150px;
  background-color: #4f92f6;
  box-shadow: 2px 1px 5px 1px #1d1c1c91;
}
