.imageContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

#calendar {
  width: 250px;
}

.years_head_text {
  color: #250839;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 63px;
}
