.subs {
  height: 550px;
  background-color: #3b3bb9;
}

#subP {
  font-size: 32px;
  font-weight: 550;
  padding-top: 25px;
  text-align: center;
  padding-bottom: 40px;
}

.sub-items {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}
